In [1]:
%pip install yfinance

Requirement already satisfied: yfinance in c:\users\brad\anaconda3\lib\site-packages (0.2.41)
Requirement already satisfied: pandas>=1.3.0 in c:\users\brad\anaconda3\lib\site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\brad\anaconda3\lib\site-packages (from yfinance) (1.24.4)
Requirement already satisfied: requests>=2.31 in c:\users\brad\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\brad\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\brad\anaconda3\lib\site-packages (from yfinance) (5.2.2)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\brad\anaconda3\lib\site-packages (from yfinance) (2.5.2)
Requirement already satisfied: pytz>=2022.5 in c:\users\brad\anaconda3\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\brad\anaconda3\lib\site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in c:\users\brad\anaconda3\lib\site-packages (from yfinance) (3.17.6)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\brad\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\brad\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\brad\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.0.1)
Requirement already satisfied: six>=1.9 in c:\users\brad\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\brad\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\brad\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\brad\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\brad\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\brad\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\brad\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\brad\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import yfinance as yf
import pandas as pd

In [3]:
tickers = ['AAPL', 'MSFT', 'GOOGL']
portfolio_df = pd.concat([yf.download(ticker, group_by='Ticker', period='2y', interval='1d').assign(ticker=ticker) for ticker in tickers], ignore_index=False)
portfolio_df

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,ticker
Date,,,,,,,
2022-08-01,161.009995,163.589996,160.889999,161.509995,159.703140,67829400,AAPL
2022-08-02,160.100006,162.410004,159.630005,160.009995,158.219910,59907000,AAPL
2022-08-03,160.839996,166.589996,160.750000,166.130005,164.271500,82507500,AAPL
2022-08-04,166.009995,167.190002,164.429993,165.809998,163.955063,55474100,AAPL
2022-08-05,163.210007,165.850006,163.000000,165.350006,163.727341,56697000,AAPL
...,...,...,...,...,...,...,...
2024-07-24,173.600006,176.190002,171.820007,172.630005,172.630005,49585200,GOOGL
2024-07-25,172.520004,173.419998,167.190002,167.279999,167.279999,44852000,GOOGL
2024-07-26,167.149994,168.089996,164.059998,167.000000,167.000000,41336900,GOOGL
2024-07-29,168.830002,170.429993,167.990005,169.529999,169.529999,20267300,GOOGL
2024-07-30,170.240005,171.229904,168.919998,168.990005,168.990005,7271913,GOOGL

In [4]:
import os
cwd = os.getcwd()
path = cwd + "/data_snapshot.csv"
portfolio_df.to_csv(path)